@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: montserrat, sans-serif;
  margin: 0 auto;
  background-color: #ddd0c8;
}

/* Navbar hamburger menu */
@media screen and (max-width: 768px) {
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    left: 0;
  }
  .menu__btn {
    position: fixed;
    display: flex;
    align-items: center;
    top: 20px;
    left: 20px;
    width: 26px;
    height: 5%;
    cursor: pointer;
    z-index: 1;
  }
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #0a0a0a;
    transition-duration: 0.25s;
  }
  .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 250px;
    height: 100vh;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: rgba(250, 253, 253, 0.8);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #0a0a0a;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  .menu__item:hover {
    color: rgba(10, 10, 10, 0.5);
  }

  /* Content Container */

  .container {
    width: 100%;
    margin-top: 60px;
    padding: 0px 10px;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  /* All Sellers */

  .all-sellers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .table-container {
    font-size: 10px;
  }

  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }

  /* th,
  td {
    padding: 10px;
  } */

  table {
    box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
      0px 10px 5px rgba(151, 149, 149, 0.1);
  }
}

@media screen and (min-width: 768px) {
  /* Navbar */

  #menu__toggle {
    display: none;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-right: 15px;
  }

  .menu__box {
    padding-left: 20px;
  }

  nav ul li {
    list-style: none;
    margin: 0px 10px;
  }

  nav ul li a {
    text-decoration: none;
    color: #0a0a0a;
    font-size: 20px;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
  }

  nav ul li a:hover {
    color: rgba(10, 10, 10, 0.6);
  }

  /* Content Container */

  .container {
    width: 100%;
    margin-top: 60px;
    padding: 0px 10px;
  }

  h1,
  h2,
  h3,
  h4 {
    text-align: center;
  }

  /* All Sellers */

  .all-sellers-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  table,
  th,
  td {
    border: 1px solid black;
    text-align: center;
  }

  th,
  td {
    padding: 10px;
  }

  table {
    box-shadow: 1px 0px 20px rgba(151, 149, 149, 0.8),
      0px 10px 5px rgba(151, 149, 149, 0.1);
  }
}
